.videoCard {
  color: #fff;
  width: 400px;
  /* height: 500px; */
  padding: 20px;
  /* text-align: center; */
  cursor: pointer;
  transition: transform 0.1s ease-in;
}
.videoCard:hover {
  transform: scale(1.04);
  z-index: 10;
  border-bottom: 0.5px solid gray;
  border-radius: 10px;
}
.videoCard > img {
  height: 300px;
  width: 400px;

  object-fit: contain;
}
.videoCard > h2 {
  padding-top: 5px;
}
.videoCard > p {
  padding-bottom: 20px;
}
.videoCard_stats {
  display: none;
}
.videoCard:hover > .videoCard_stats {
  display: inline;
}
.videoCard_stats > .MuiSvgIcon-root {
  margin-left: 10px;
  margin-right: 5px;
}
